*{
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
}

.page1{
    height: 95vh;
    width: 100vw;
    background-image: url(../images/mazzz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

        .info-tab{
            height:95vh;
            width: 60%;
            right: 0;
            position:absolute;
            background-color: rgba(0, 1, 37, 0.5);
        }

            .heading{
                position: absolute;
                width: 500px;
                height: auto;
                right: 20vw;
                top:  200px;
                color:rgb(255, 255, 255);
            }

            .car-hub{
                width: auto;
                height: auto;
                font-size: 2em;
                color:rgb(0, 248, 215);

            }

            .nav{
                font-family: Oswald;
                display: flex;
                flex-direction: row;
                color:rgb(248, 132, 0);
                background: transparent;
                margin-right: -10vw;
                position: absolute;
                top: 50px;
                right: 3px;
              }
              
              nav li{
                list-style-type: none;
                padding: 0 40px 0 40px ;
                cursor:pointer;
                
              }

              nav li:hover{                
                color:rgb(0, 248, 215);
                  
              }

        .brand{
            color:rgb(248, 132, 0);
            font-size: 2rem;
            font-family:Oswald;
        }
        h2{
            font-size: 40px;
            color:rgb(248, 132, 0);
        }

        
        
        
.services{
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    
}



img{
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
}



.image{
    height: 300px;
    padding:  0px;
    margin:0;
    
}

.about{
    height: 500px;
    width: 100%;
    display:grid;
    grid-template-columns: 40% 60%;
}



.tag-1{
    background-color:orangered;
}



.div-1{
    background-image: url(../images/background.jpg);
    background-size: cover;
    
}

.div-2{
    background-image: url(../images/back5.jpg);
    background-position: center;
    background-size: cover;
}

.footer{
    height: 500px;
    width: 100%;
    background-color:rgb(1, 1, 14)
}


hr{
    width: 80%;
    margin: auto;
    margin-top: 30px ;

}


.middle-hover{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image:hover img {
    opacity: 0.3;
  }
  
  